@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Lora&display=swap");
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-style: none;
  background-color: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
p,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  color: #17236e;
  font-weight: 400;
}

.homepage header {
  color: #fff;
}
.homepage header .menu {
  font-size: calc(0.5vw + 0.64rem);
  line-height: calc(1.152 * (1vw + 0.64rem));
}
.homepage header .rating {
  font-size: calc(0.5vw + 0.64rem);
  line-height: calc(1 * (1vw + 0.64rem));
}
.homepage header .header-titre {
  font-family: "Lora", serif;
  font-size: calc(1vw + 2.075rem);
  line-height: calc(1.59 * (1vw + 2.075rem));
}
.homepage header .header-text {
  font-size: calc(0.5vw + 0.84rem);
  line-height: calc(1.4 * (1vw + 0.84rem));
}
.homepage header .header-text span {
  font-weight: 700;
}
.homepage header .header-links {
  font-size: calc(0.5vw + 0.64rem);
  line-height: calc(1.176 * (1vw + 0.64rem));
}
.homepage header .header-links p {
  background-color: rgba(16, 39, 67, 0.6);
}
.homepage header .header-links p:hover {
  background-color: rgba(13, 32, 55, 0.9);
}
.homepage header .redirect-button {
  font-size: calc(0.5vw + 0.44rem);
  line-height: calc(0.6359 * (1vw + 0.44rem));
  background-color: #e79411;
}
.homepage .about-us .about-us-titre {
  font-family: "Lora", serif;
  font-size: calc(1vw + 1.68rem);
  line-height: calc(1.45 * (1vw + 1.68rem));
}
.homepage .about-us .about-us-titre span {
  color: #e79411;
}
.homepage .about-us .about-us-text {
  font-size: 1.7rem;
  line-height: 1.75;
}
.homepage .about-us .about-us-link {
  color: #e79411;
}
.homepage .about-us .about-us-card {
  font-size: 1.7rem;
  font-weight: 500;
}
.homepage .swimming-pools .pool-wrap-top .pool-title {
  font-family: "Lora", serif;
  font-size: calc(1vw + 1.68rem);
  line-height: calc(1.851 * (1vw + 1.68rem));
}
.homepage .swimming-pools .pool-wrap-top .pool-title span {
  color: #e79411;
}
.homepage .swimming-pools .pool-wrap {
  color: #fff;
}
.homepage .swimming-pools .pool-wrap > div {
  background: rgb(46, 88, 139);
  background: linear-gradient(180deg, rgba(46, 88, 139, 0.0466780462) 0%, rgba(43, 84, 132, 0.3996192227) 10%, rgba(37, 73, 117, 0.5984987745) 30%, rgba(16, 39, 67, 0.8982186625) 100%);
}
.homepage .swimming-pools .pool-wrap .pool-title {
  font-family: "Lora", serif;
  font-size: calc(1vw + 0.68rem);
  line-height: calc(1.692 * (1vw + 1.68rem));
}
.homepage .swimming-pools .pool-text {
  line-height: 1.7;
}
.homepage .swimming-pools .pool-link {
  color: #e79411;
  line-height: 1.212;
}
.homepage .contact-us .contact-titre {
  font-family: "Lora", serif;
  color: #fff;
  font-size: calc(1vw + 1.68rem);
  line-height: calc(1.6 * (1vw + 1.68rem));
}
.homepage .contact-us .contact-titre span {
  color: #e79411;
}
.homepage .contact-us .contact-button {
  font-size: 1.7rem;
  line-height: 1.176;
  color: #fff;
}

.footer {
  color: #536088;
}
.footer h3 {
  color: #2b3991;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.543;
}
.footer p {
  line-height: 1.75;
}
.footer p:nth-of-type(5) {
  line-height: 1.3;
}
.footer .footer-email {
  color: #e79411;
}
.footer .footer-contact-button,
.footer .footer-catalogue-button {
  color: #fff;
}
.footer .footer-copy {
  font-size: 1.5rem;
  line-height: 1.955;
}
.footer .footer-copy span {
  color: #2b3991;
  font-weight: 500;
}

.homepage .about-us {
  display: flex;
  width: 66.6666666667vw;
  margin: 0 auto 15rem;
  padding-top: 2rem;
}
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .homepage .about-us {
    width: 80.2083333333vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .homepage .about-us {
    width: 90.1041666667vw;
  }
}
.homepage .about-us-wrap {
  display: flex;
  flex: auto;
  background: url(/SVG/section1.png) no-repeat center;
  background-position: 170px -65px;
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .homepage .about-us-wrap {
    flex-flow: column;
  }
}
.homepage .about-us-wrap > :first-child {
  flex: 1;
}
.homepage .about-us-wrap > :first-child .about-us-titre {
  width: 22.9166666667vw;
}
@media only screen and (max-width: 1800px) {
  .homepage .about-us-wrap > :first-child .about-us-titre {
    width: 26.0416666667vw;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
  .homepage .about-us-wrap > :first-child .about-us-titre {
    width: 29.6875vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .homepage .about-us-wrap > :first-child .about-us-titre {
    width: 33.8541666667vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .homepage .about-us-wrap > :first-child .about-us-titre {
    width: auto;
  }
}
.homepage .about-us-wrap > :first-child .about-us-text {
  width: 26.0416666667vw;
  margin: 5.5rem 0 4rem;
}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
  .homepage .about-us-wrap > :first-child .about-us-text {
    width: 29.6875vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .homepage .about-us-wrap > :first-child .about-us-text {
    width: 33.8541666667vw;
    text-align: justify;
  }
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .homepage .about-us-wrap > :first-child .about-us-text {
    width: auto;
  }
}
.homepage .about-us-wrap > :last-child {
  flex: 1;
}
.homepage .about-us-wrap > :last-child .about-us-titre {
  width: 27.6041666667vw;
  margin: 0 auto 5.5rem;
}
@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .homepage .about-us-wrap > :last-child .about-us-titre {
    width: 28.125vw;
  }
}
@media only screen and (min-width: 1640px) and (max-width: 1800px) {
  .homepage .about-us-wrap > :last-child .about-us-titre {
    width: 29.1666666667vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1640px) {
  .homepage .about-us-wrap > :last-child .about-us-titre {
    width: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .homepage .about-us-wrap > :last-child .about-us-titre {
    width: auto;
    margin-top: 5.5rem;
  }
}
.homepage .about-us-wrap .about-us-card-wrap {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 5rem;
  gap: 1rem;
  justify-content: space-between;
  width: 27.6041666667vw;
  margin: 6.1rem auto 0;
}
@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .homepage .about-us-wrap .about-us-card-wrap {
    width: 28.125vw;
  }
}
@media only screen and (min-width: 1640px) and (max-width: 1800px) {
  .homepage .about-us-wrap .about-us-card-wrap {
    width: 29.1666666667vw;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1640px) {
  .homepage .about-us-wrap .about-us-card-wrap {
    margin: 6.1rem 0;
    width: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .homepage .about-us-wrap .about-us-card-wrap {
    margin: 6.1rem 0;
    width: auto;
    padding-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .homepage .about-us-wrap .about-us-card-wrap {
    width: auto;
    padding-left: 0px;
    justify-content: space-around;
    gap: 10rem;
  }
}
.homepage .about-us-wrap .about-us-card {
  flex: 0 1 8.3333333333vw;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 8.6979166667vw;
  }
}
@media only screen and (min-width: 1640px) and (max-width: 1800px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 9.6354166667vw;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1640px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 10.9375vw;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 12.5520833333vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 16.1458333333vw;
  }
}
@media only screen and (max-width: 992px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 26.5625vw;
  }
}
@media only screen and (max-width: 768px) {
  .homepage .about-us-wrap .about-us-card {
    flex: 0 1 26.5625vw;
  }
}
.homepage .about-us-wrap .about-us-card img {
  height: 5.4rem;
}
.homepage .about-us-wrap .about-us-card p {
  margin-top: 2.8rem;
}

.homepage .swimming-pools {
  background: url(/SVG/bg2.png);
}
.homepage .swimming-pools-wrap {
  max-width: 80.2083333333vw;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  place-content: center;
  gap: 4rem;
  margin-bottom: 11rem;
}
.homepage .pool-wrap {
  flex: 1 0 48.5rem;
  max-width: 48.5rem;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}
.homepage .pool-wrap img {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.homepage .pool-wrap img:hover {
  filter: grayscale(0%);
}
.homepage .pool-wrap > div {
  position: absolute;
  bottom: 0px;
  padding: 4.8rem 4.8rem 3.5rem;
}
.homepage .pool-wrap .pool-text {
  margin: 1rem 0 2rem;
}
.homepage .pool-wrap-top {
  width: 66.6666666667vw;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2.3rem;
  margin-top: 11.5rem;
}
.homepage .pool-wrap-top img {
  height: 3.8rem;
}
.homepage .pool-wrap-top h2 {
  white-space: nowrap;
}

.homepage .contact-us {
  background: url(/SVG/bg-sec2.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 100vw;
  height: 55rem;
}
.homepage .contact-titre {
  padding-top: 14.3rem;
  width: 40.625vw;
  margin: auto;
}
@media only screen and (min-width: 1640px) and (max-width: 1920px) {
  .homepage .contact-titre {
    width: 43.75vw;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1640px) {
  .homepage .contact-titre {
    width: 46.875vw;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
  .homepage .contact-titre {
    width: 52.0833333333vw;
  }
}
@media only screen and (max-width: 1240px) {
  .homepage .contact-titre {
    width: 70%;
  }
}
.homepage .contact-button {
  background-color: #e79411;
  border-radius: 0.7rem;
  padding: 2.2rem 3.8rem;
  margin: 4rem 0 11rem;
}

.homepage header {
  background: url(/SVG/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 94.4rem;
  margin: auto;
  margin-bottom: 11rem;
  border: solid 1px;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .homepage header {
    max-width: 90.1041666667vw;
  }
}
.homepage .top-bar {
  display: flex;
  align-items: center;
  gap: 6.1rem;
  margin: 3.7rem auto 12.5rem;
  max-width: 80.2083333333vw;
}
.homepage .top-bar .logo {
  width: 12rem;
}
.homepage .top-bar .menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  flex: 1;
}
.homepage .top-bar .menu span {
  transition: all 0.75s ease-in-out;
}
.homepage .top-bar .menu.active .menu-btn .menu-btn__burger {
  transform: translateX(-50px);
  background: inherit;
}
.homepage .top-bar .menu.active .menu-btn .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.homepage .top-bar .menu.active .menu-btn .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.homepage .top-bar .menu.active span {
  transition: all 0.75s ease-in-out;
}
.homepage .top-bar .menu-btn {
  display: flex;
  z-index: 1000;
  width: 20px;
}
.homepage .top-bar .menu-btn .menu-btn__burger {
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}
.homepage .top-bar .menu-btn .menu-btn__burger::before,
.homepage .top-bar .menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 0.75s ease-in-out;
}
.homepage .top-bar .menu-btn .menu-btn__burger::before {
  transform: translateY(-6px);
}
.homepage .top-bar .menu-btn .menu-btn__burger::after {
  transform: translateY(6px);
}
.homepage .top-bar .rating {
  display: flex;
  align-items: center;
}
.homepage .top-bar .rating p {
  margin-left: 1.1rem;
}
.homepage .header-content {
  display: flex;
  margin: auto;
  width: 80.2083333333vw;
}
.homepage .header-content .header-items {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.homepage .header-content .header-items:last-of-type {
  width: fit-content;
}
.homepage .header-content .header-titre {
  flex: 0 1 32.03125vw;
}
@media only screen and (max-width: 1640px) {
  .homepage .header-content .header-titre {
    flex: auto;
  }
}
.homepage .header-content .header-text {
  margin: 6.2rem 0 5.8rem;
  flex: 0 1 32.03125vw;
}
@media only screen and (max-width: 1640px) {
  .homepage .header-content .header-text {
    flex: auto;
  }
}
.homepage .header-content .header-text span {
  display: block;
}
.homepage .header-content .header-links {
  flex: 0 1 32.03125vw;
  display: flex;
}
.homepage .header-content .header-links p {
  transition: background-color 0.3s ease-in-out;
  padding: 2.2rem 3rem;
  border-radius: 0.7rem;
  white-space: nowrap;
  margin-right: 1.1979166667vw;
}
.homepage .header-content .redirect-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding: 1.8rem 3.5rem 1.8rem 2.6rem;
}
@media only screen and (max-width: 768px) {
  .homepage .header-content .redirect-button {
    top: 13rem;
  }
}
.homepage .header-content .redirect-button a {
  text-align: left;
}
.homepage .header-content .redirect-button span {
  display: block;
  white-space: nowrap;
}

.footer .footer-wrap {
  display: flex;
  width: 80.2083333333vw;
  margin: auto;
}
.footer .footer-wrap > div {
  flex: 1;
  padding-left: 5px;
  margin-top: 10rem;
}

.footer-about-logo {
  width: 7.5520833333vw;
}
.footer-about p {
  width: 16.1458333333vw;
  margin: 3rem 0;
}
.footer-about .footer-about-socials {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 9.4rem;
}

.footer-address h3 {
  margin-bottom: 2rem;
}
.footer-address .footer-email {
  margin-bottom: 2.8rem;
}
.footer-address p:nth-of-type(5) {
  width: 13.28125vw;
}

.footer-button-wrap {
  display: inline-flex;
  flex-flow: column;
  gap: 1.7rem;
}
.footer-button-wrap h3 {
  margin-bottom: 1rem;
}
.footer-button-wrap button {
  background-color: #17236e;
  padding: 2.3rem 2.8rem;
  border-radius: 0.7rem;
  width: fit-content;
}

.footer-copy {
  background-color: #f8f8fa;
}
.footer-copy > div {
  width: 80.2083333333vw;
  margin: auto;
  display: flex;
  gap: 1.5rem;
  padding: 4rem 0;
}
.footer-copy p:first-of-type {
  flex: auto;
}
.footer-copy img {
  width: 5.2083333333vw;
}