
$color-text: #17236e;
$color-heating: #e79411;
$color-white: #fff;

$color-footer-titre: #2b3991;
$color-footer-text: #536088;
$color-bg-grey: #f8f8fa;

$color-navy-blue-100: #102743;
$color-navy-blue-200: #0d2037;


$fs-text-100: .44rem; // 1.4rem
$fs-text-200: .64rem; // 1.6rem
$fs-text-300: .84rem; // 1.8rem

$fs-title-200: .68rem; // 2.6rem
$fs-title-300: 1.680rem; // 3.6rem
$fs-title-400: 2.075rem; // 4rem

